<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalClientes" value="C:\Users\DEV01\Desktop\MeusProjetos\Curso de C sharp\POO2\clientes.txt"/>
    <add key="LocalUsuarios" value="C:\Users\DEV01\Desktop\MeusProjetos\Curso de C sharp\POO2\usuarios.txt"/>
  </appSettings>
</configuration>