<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="caminho_arquivos" value="C:\Users\almei\Desktop\MeusProjetos\C#\ProgramacaoFuncional\"/>
		<add key="base_clientes" value="C:\Users\almei\Desktop\MeusProjetos\C#\ProgramacaoFuncional\db\clientes.txt"/>
	</appSettings>
</configuration>